language: node_js

node_js:
- '8'
- '10'
- '12'
- '13'

before_install:
- openssl aes-256-cbc -K $encrypted_91c6012413a9_key -iv $encrypted_91c6012413a9_iv
  -in test/testServiceAccountCredentials.json.enc -out test/testServiceAccountCredentials.json
  -d
- npm i -g npm

install:
- npm ci

# keep the npm cache around to speed up installs
cache:
  directories:
  - "$HOME/.npm"
